html {
  scroll-behavior: smooth !important;
}

#header {
  scroll-padding-top: calc(4rem + 80px) !important;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
